

body, html {
  margin: 0;
  padding: 0;
  /* height:auto; */
  min-height: 1000vh;
  font-size: 1rem;
}

#root {
  height: 1000vh;
}

.AdminLayout {
  display: grid;
  grid-template-rows: 60px auto 60px; /* Adjust the heights of header and footer */
  /* grid-template-columns: 2fr; */
  grid-template-columns: auto auto;
  height: 1000vh;
  /* border: 5px solid #ffa; */
  /* border: #ffa; */

}
/* 
.Header {
  grid-row: 1 / 2;
} */

/* .Content {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  height: 100%;
  grid-row: 2 / 3;
} */

.LeftSide {
  grid-column: 1 / 2;
  /* border: 5px solid #ffa; */
  /* background-color: #000; Light gray background for navigation */
  padding: 20px;
  box-sizing: border-box;
  height: 1000vh;

  & nav ul {
    display: grid;
    list-style-type: none;
    padding: 2rem;
    justify-content: center;
    align-items: center;
  }
  & nav li {
    margin-bottom: 10px;
  border-radius: 10px;

    /* background-color: #ffa; */
    min-width: 10rem;
    width:fit-content;

    

  }
  & nav a {
    text-decoration: none;
    color: #4d05f7;
    padding:5px;
    margin:5px;
  }
  & 
  nav a:active {
    font-weight: bold;
  }
}
.RightSide {
  /* border: 5px solid #ffa; */
  grid-column: 2 / 3;
  padding: 5rem;
  /* margin:5rem; */
  box-sizing: border-box;
  height: 1000vh;
}








 
