
.Table{
    background-color: #fff;
    font-size: 15px;;
    border-radius: 5px;;
    
 
    
    }
    .THRow{
        width:64vw;
    display:grid;
    grid-template-columns:repeat(5,minmax(10rem,1fr));
    align-items:center;
    box-shadow:0 0.3rem 0 gray;
    margin-bottom:10px;
    border-bottom:4px solid transparent;
    color:#000;

    &:last-child{
        box-shadow:none;
    }
}

.Tbody{
    display: flex;

    justify-content: center;
    align-items: center;
    width:16vw;
    margin:4px 0px 4px 0px;
    border-radius: 2rem;


}